@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'TikTok Sans', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #222;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-input-decoration,
input[type="password"]::-webkit-input-clear-button,
input[type="password"]::-webkit-input-password-toggle-button {
  display: none !important;
}